body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: normal;
}

.polymer-ui-collapsible-header {
    font-size: 18px;
}

.polymer-ui-field {
    border: 1px solid #000000;
    margin: 10px;
    height: 40px;
}